.container-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.fullscreen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gradient-start {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(
    0deg,
    #fff 25%,
    rgba(253, 254, 255, 0) 60%,
    rgba(255, 142, 10, 0.534586) 100%,
    rgba(255, 142, 10, 0.9) 100%
  );
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 844px;
  opacity: 50%;
  mix-blend-mode: multiply;
  animation: tu-animacion 300ms ease-out 1s;
}

.contenido-start {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8rem;
  z-index: 2;
}

.logo-start {
  width: 207px;
  height: 72px;
  z-index: 2;
  cursor: pointer;
}

.title-start {
  position: absolute;
  top: 5rem;
  font-family: Rubik;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  color: #26262e;
  line-height: 30px;
  letter-spacing: -0.7px;
  z-index: 2;
}

.pages-btn-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 23rem;
  gap: 18px;
  z-index: 2;
}

.btn-free {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.7px;
  border-radius: 2px 20px;
  border: none;
  width: 320px;
  height: 48px;
  background-color: #ff8e0a;
  color: #fdfeff;
  cursor: pointer;
  z-index: 2;
}

.btn-google-start,
.btn-apple-start {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px 20px;
  border: 2px solid #26262e;
  width: 320px;
  height: 48px;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.login-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 38rem;
  gap: 18px;
  font-family: Rubik;
  color: #26262e;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration: none;
  z-index: 2;
}

.logo-google-start,
.logo-apple-start {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}
