.input-general {
    display: flex;
    margin: 12px 0px 12px 0px;
    padding: 0px 10px;
    border-radius: 0px 16px;
    border: 2px solid var(--medios-tonos-gris-2, #bfc0c1);
    overflow: hidden;
    background-color: #fdfdfd;
    height: 48px;
    width: 100%;
    outline: none;
}

