.carrusel-container {
  font-family: Rubik;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(253, 254, 255, 0) 90%,
    rgba(255, 142, 10, 0.534586) 100%,
    rgba(255, 142, 10, 0.9) 100%
  );
}

.top-nav-carrusel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 24px;
}

.title-carrusel {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.link-arrow-carrusel {
  position: absolute;
  top: 1px;
  left: 30px;
}

.playlist-carrusel {
  position: fixed;
  margin-top: 85px;
  display: grid;
 /*  flex: 1 1; */
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  width: 90%;
  padding: 0 40px;
/*   overflow: auto; */
  /* position: relative; */
}

.name-music {
  margin-top: 70px; /*44*/
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
 /*  margin-left: 100px; */
}

.btn-like-close {
  position: absolute;
  top: 20rem; 
  right: 5rem;
/* display: flex;
flex-direction: row;
margin-left: -94px;
margin-top: 204px; */
  cursor: pointer;
}

.btn-like-close button {
  border: none;
  margin: 10px;
  background-color: transparent;
}

.btn-like-close img {
  width: 70px;
  cursor: pointer;
}

.btn-create {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-create-playlists {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  border-radius: 2px 20px;
  border: none;
  width: 320px;
  height: 48px;
 
  cursor: pointer;
}

.btn-create-playlists a {
  text-decoration: none;
  color: white;
}

.enabled-buttonMatch{
  border: #ff8e0a;
  background-color: #ff8e0a;
  color: #fdfeff;
}

.disabled-buttonMatch{
  border: #e4e6e8;
  background-color: #e4e6e8;
  color: #fdfeff;
}

/* .popUp-carrusel {
  width: 240px;
  height: 228px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 142, 10, 0.13) 75%,
    rgba(255, 142, 10, 0.22) 100%
  );
} */

.popUp-carrusel img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  margin: 74px 80px;
}


.playlist-carrusel {
  transition: transform 0.3s ease;
}

.img-playlists,
.name-music {
  transition: transform 0.3s ease;
}

.img-playlists-carousel {
  object-fit: cover; 
  /*   flex: 1 1; */
  /*   width: 100%; */
  width: 272px;
  height: 272px;
    border-radius: 1% 20%;
}

.current-image img {
 opacity: 5;
 z-index: 5;
 margin-top: 67px;
 margin-left: -16px;
 width: 300px;
 height: 300px;
}

.current-image p {
 margin-top: 50px; /* Oculta el elemento p en las clases "next" y "following" */
}
/* Estilos para las siguientes imágenes */

.next-image p, .next-next-image p, .following-image p {
  display: none; /* Oculta el elemento p en las clases "next" y "following" */
}

.next-image {
/*   overflow: hidden; */
  opacity: 0.10;
  width: 272px;
  margin-left: 70px; 
  margin-top: -27rem;
  z-index: 3;
  transform: rotate(20deg);
}

.next-next-image {
/*   overflow: hidden; */
  width: 272px;
  opacity: 0.10;
  margin-left: 150px; 
  margin-top: -20rem;
  z-index: 2;
  transform: rotate(20deg);
}

.following-image{
/*   overflow: hidden; */
 display: none;
}

.carrusel-container {
  touch-action: pan-y; /* Deshabilita el desplazamiento vertical, pero permite el desplazamiento horizontal */
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
 /*  white-space: nowrap; */ /* Asegura que los elementos del carrusel estén en una línea horizontal */
}
