/* .matches {
  margin-bottom: 100px;
} */
.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
/*   position: relative; */
}

.match-container-reset {
  display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-left: 44px;
    margin-top: 482px; /*?*/
}

.btn-match {
  border: none;
  margin: 10px;
  background-color: transparent;
/*   position: absolute; */
  bottom: 3rem;
  left: 10rem;
  cursor: pointer;
}
.match-p {
  font-size: 16px;
  font-weight: 00;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.match-music {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.liked-images {
  display: flex;
  justify-items: center;
  margin-left: 3px;
  margin-right: 20px;
  margin-top: -30px;
  width: 121px;
}

