.matches {
  margin-bottom: 0.5rem;
}
.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  margin: 0 1.5rem;
}
.btn-match {
  border: none;
  margin: 10px;
  background-color: transparent;
  position: absolute;
  bottom: 17rem;
  left: 16rem;
  cursor: pointer;
}
.match-p {
  font-size: 16px;
  font-weight: 00;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  padding-bottom: 1rem;
}

.match-music {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

/* .match-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
