.buscador-container {
  width: 100%;
  height: 100vh;
}

.fixed-top {
  top: 0;
  width: 100%;
}

.title-container {
  width: 100vw;
}

.title-wrapper::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(
    --degradado-a-blanco-con-color,
    linear-gradient(
      0deg,
      rgba(253, 254, 255, 0) 25%,
      rgba(255, 142, 10, 0.53) 75%,
      rgba(255, 142, 10, 0.9) 100%
    )
  );
  opacity: 0.25;
  height: 160px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-wrapper h1 {
  margin-left: 24px;
  margin-top: 48px;
  color: var(--medios-tonos-gris-5, #26262e);
  font-family: Rubik;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.buscador-searchbar {
  margin: 14px 24px;
}

.searcher-searchbar-container {
  margin: 98px 24px 0px;
}

.divider-searcher {
  display: flex;
  width: 320px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  margin-left: 24px;
}

.divider-searcher h2 {
  color: var(--medios-tonos-gris-5, #26262e);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.grillas {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  height: 58%;
/*   margin-top: 24px; */
}

.grillaAlbums {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
/*   height: 55vh; */
/*   height: 50vh; */
  overflow: auto;
}

/*****/
/*General para cardArtista y cardSong*/
.card-busqueda-reciente {
  display: flex;
  align-items: center;
  /* width: 320px; */
  height: 48px;
  gap: 12px;
  margin: 5px 24px;
  overflow: auto;
}

.busqueda-reciente-albumImg {
  width: 48px;
  height: 48px;
}

.card-busqueda-reciente-wrapper {
  width: 218px;
  margin-left: 15px;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex: 1 0 0;
}


.card-busqueda-reciente p,
li {
  font-family: Rubik;
  font-style: normal;
  letter-spacing: 0.5px;
}

.card-busqueda-reciente p {
  color: var(--medios-tonos-gris-5, #26262e);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px; /* 150% */
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-busqueda-reciente p:nth-of-type(2) {
  overflow: hidden;
  color: var(--medios-tonos-gris-3, #838486);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.5px;
}

.card-busqueda-reciente li {
  overflow: hidden;
  color: var(--medios-tonos-gris-3, #838486);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.busqueda-borrar-cruzImg {
  width: 24px;
  height: 24px;
}

.footer-buscador {
  margin-top: -12px;
}


/*ANIMACIONES*/

.animate-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.animate-left-down {
  transform: translateY(50px) translateX(-50%) translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}


 @keyframes animateUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px); 
    opacity: 1;
  }
}

.animate-up {
  animation: animateUp 2s ease 1s forwards;
}


@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-right {
  animation: slideInRight 0.5s forwards 1s;
  opacity: 0;
}

@keyframes slideInRightReverse {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-right-reverse {
  animation: slideInRightReverse 0.5s forwards;
  opacity: 1;
}


@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-footer-down {
  animation: moveDown 0.5s forwards;
}

@media (min-width: 390px) {
  .grillas{
    height: 60%;
  }
  .footer-buscador {
    margin-top: -3px;
  }
}
