.sort-cards-container {
  margin-top: -8px;
  margin-left: 24px;
}

.suggested-result {
  display: flex;
  width: 320px;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  margin-right: 24px;
}

.suggested-result p.sugerencia-title {
  overflow: hidden;
  color: var(--medios-tonos-gris-3, #838486);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  letter-spacing: 0.5px;
  margin-left: 24px;
  margin-top: 16px;
}

.suggested-result hr {
  width: 100%;
  margin-left: 24px;
  background: #e4e6e8;
}

.search-results-container {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.search-cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
