.container-footer-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 1rem;
  height: fit-content;
  background: linear-gradient(
    180deg,
    rgba(253, 254, 255, 0) 80%,
    rgba(102, 149, 175, 0.133647) 100%,
    rgba(102, 149, 175, 0.225) 100%
  );
  font-family: Rubik;
}

.container-explorer-home,
.container-explorer-footer,
.container-explorer-profile,
.container-explorer-friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.container-explorer-home span,
.container-explorer-footer span,
.container-explorer-profile span,
.container-explorer-friends 
span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.container-footer-home a {
  color: grey;
  fill: transparent;
  stroke: currentColor;
  text-decoration: none;
}

.container-footer-home.inicio a:nth-of-type(1),
.container-footer-home.buscador a:nth-of-type(2),
.container-footer-home.perfil a:nth-of-type(3),
.container-footer-home.amigos a:nth-of-type(4) {
  color: black;
  fill: currentcolor;
}

.container-footer-home.inicio img:nth-of-type(1),
.container-footer-home.buscador img:nth-of-type(2),
.container-footer-home.perfil img:nth-of-type(3),
.container-footer-home.amigos img:nth-of-type(4) {
  color: black;
  fill: currentcolor;
}
