.all-home-stats{
    width: 100vw;
    height: 95vh;
    font-family: Rubik;
}

.notifications-bar-home{
    display: flex;
    flex-direction: row;
    padding: 4rem 1.5rem 1rem 1.5rem;
    justify-content: flex-end;
    background: linear-gradient(360deg, rgba(253, 254, 255, 0) 0%, rgba(255, 142, 10, 0.534586) 120%, rgba(255, 142, 10, 0.9) 100%);

}

.notifications-bar-home h1{
    width: 75%;
    display: flex
}

.notifications-bar-home img{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.container-main-home{
    display: flex;
    flex-direction: column;
    height: 73vh;
    padding: 0 1.5rem;
}

.container-options-home{
    display: flex;
    justify-content: row;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0 24px 0 24px;
    border: black;
    box-shadow: 2px 2px 4px 0px rgba(8, 8, 17, 0.08);
    height: 80px;
}

.container-options-home .container-imagenhome-animation1{
    width: 100px;
    height: 80px;
    border-radius: 0 0 0 2rem;
}

.container-options-home h4{
    margin-bottom: 0.5rem;
}

.container-options-home .cupido-musical-image2{
    width: 26.5px;
    height: 25.76px;
    rotate: -25.07 deg;
}
.container-options-home .cupido-musical-image1{
    width: 40.61px;
    height: 69.4px;
    rotate: 12.12 deg;

}

.container-options-home .cupido-musical-image3{
    width: 35.78px;
height: 31.61px;
rotate: -1.2 deg;

}
.container-options-home .cupido-musical-image4{
    width: 37.07px;
height: 63.01px;
border: 0.72px;
rotate: 68.87 deg;


}

.container-options-home .texto-options-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0.5rem ;
}

.texto-options-home p{
    font-size: 12px;
    color: grey;
}

.texto-options-home h4{
    padding: 0;
    margin: 0;
    color: black;
}

.container-main-home a{
    text-decoration: none;
}