.container-footer-home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 1rem;
    background: linear-gradient(180deg, rgba(253, 254, 255, 0) 25%, rgba(255, 142, 10, 0.133647) 84.37%, rgba(255, 142, 10, 0.225) 100%);

}

.container-explorer-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-explorer-home img{
    height: 24px;
    width: 24px;
    
}

.container-footer-home a{
    color:grey;
    fill: transparent;
    stroke: currentColor;
}

.container-footer-home.inicio a:nth-of-type(1),
.container-footer-home.buscador a:nth-of-type(2),
.container-footer-home.perfil a:nth-of-type(3),
.container-footer-home.amigos a:nth-of-type(4)
{color: black; fill: currentcolor}