.all-musicacontextual-stats{
    font-family: 'Rubik';
    
}

.container-main-musicacontextual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.container-main-musicacontextual h2{
    padding-bottom: 1rem;
    font-weight: 500;
}


.top-musicacontextual{
    display: flex;
    padding: 2rem 1rem;
    background: linear-gradient(360deg, rgba(253, 254, 255, 0) 25%, rgba(255, 142, 10, 0.534586) 100%, rgba(255, 142, 10, 0.9) 100%);
}
.top-musicacontextual h4{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 24px;
    font-weight: 500;
}

.crear-playlist-musicaContextual{
    border-radius: 0 1rem 0 1rem;
    width: 320px;
    height: 48px;
    background-color: rgba(228, 230, 232, 1);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.container-generos-generate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
