.select-wrapper{
    border-radius: 0 1rem 0 1rem;
    text-indent: 10px;
    width: 320px;
    height: 48px;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.select-wrapper select{
    background-color: transparent;
    height: 100%;
    border: none;
    padding: 8px;
}

.select-wrapper.empty span{
    position: absolute;
    padding: 8px 0;
    left: 5px;
    top: 8px;
    background-color: white;
    color: silver;
    font-weight: bold;
    display: block;
    border-radius: 1rem;
}

.select-wrapper span{
    display: none;
    pointer-events: none;
}