* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

:root {
    --color-institucional: #ff8e0a;
    --color-neutral1: #838486;
    --color-neutral2: #26262E;
    --color-neutral3: #45464B;
    --color-neutral4: #838486;
    --color-neutral5: #BFC0C1;
    --color-neutral6: #E4E6E8;
    --color-neutral7: #FDFEFF;
    --color-semantico1: #EA0F0F;
    --color-semantico2: #03A400;
    --color-mododia1: #FDFEFF;
    --color-mododia2: #26262E;
    --color-mododia3: #FF8E0A;
    --color-modonoche1: #080811;
    --color-modonoche2: #E4E6E8;
    --color-modonoche3: #FF8E0A;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  