* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-institucional: #ff8e0a;
  --color-neutral1: #838486;
  --color-neutral2: #26262e;
  --color-neutral3: #45464b;
  --color-neutral4: #838486;
  --color-neutral5: #bfc0c1;
  --color-neutral6: #e4e6e8;
  --color-neutral7: #fdfeff;
  --color-semantico1: #ea0f0f;
  --color-semantico2: #03a400;
  --color-mododia1: #fdfeff;
  --color-mododia2: #26262e;
  --color-mododia3: #ff8e0a;
  --color-modonoche1: #080811;
  --color-modonoche2: #e4e6e8;
  --color-modonoche3: #ff8e0a;
}

